{{ define "bodyclasses" }}page page_header page-header.html contentgrouptype-{{ .Section }} contentgroupname-{{ .Title | urlize }}{{ end }}

{{ define "bodyid" }}{{ .Section }}{{ end }}

{{ define "main" }}
{{ $headerImage := (.Resources.GetMatch "header").RelPermalink }}
<div class="page-header header-filter" filter-color="black">
	<div class="page-header-image" style="background-image:url({{- $headerImage -}})"></div>


	<div class="container">
		<div class="row">
				{{ .Content }}
		</div>
	  </div>
	</div>
</div>
{{ end }}